<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Address Book</h1>
<form action="#" th:action="@{/addressbook}" method="post">
    <p th:text="'AddressBook id: ' + ${addressBook.id}" />
    <p> List of Buddies </p>
    <ul>
        <li th:each="buddyInfo: ${addressBook.buddies}">
            <div th:text="'ID: ' + ${buddyInfo.id}" /></div>
            <div th:text="'Name: ' +${buddyInfo.name}" /></div>
            <div th:text="'Age: ' +${buddyInfo.age}" /></div>
            <div th:text="'Address: ' +${buddyInfo.address}" /></div>
        </li>
    </ul>
</form>
</body>
</html>